@media (max-width: 1200px) {
  .header{
  &__inner{
      padding-right: 10px;
      flex-wrap: wrap;
    }
}
}

@media (max-width: 860px) {
  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    border: none;

  }
  .header__burger span{
    background-color: #243f4d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header__burger::before,
  .header__burger::after{
    content: '';
    background-color: #243f4d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before{
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .menu{
    order: 1;
    margin-left: 50px;
  }
  .menu__list{
    transform: translateY(-250%);
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: all .3s;
  }
  .menu__list--active{
    transform: translateY(0%);
    transition: all .3s;
  }
  .menu__list-item + .menu__list-item{
    padding-left: 15px;
  }
  .menu__list-item{
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  .menu__list-link {
    padding: 12px 0;
    display: block;
  }
  .user-nav{
    margin-left: auto;
  }
}

@media (max-width: 475px){
  .header {
    padding: 20px 0;
  }
  .header__inner{
    padding-right: 0;
  }
  .menu {
    order: 0; 
  }
  .user-nav {
  width: 100%;
  margin-top: 30px;
  justify-content: flex-end;
}
  .user-nav__link + .user-nav__link {
    padding-left: 30px;
}
}

@media (max-width: 1200px) {
  .footer-top{
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .footer-top__contact,
  .footer-top__nav {
    margin-right: 30px;
  }

  .footer-top__title {
    margin-bottom: 10px;
  }

  .footer-top__logo {
    margin-bottom: 20px;
  }
  .footer-bottom{
    margin: 25px 0;
  }
}

@media (max-width: 640px) {
  .footer-top {
      justify-content: space-evenly;
    }
  .footer-top__contact,
  .footer-top__nav {
    margin-right: 10px;
  }
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-bottom__copy{
    width: 100%;
    text-align: center;
  }
  .footer-top__item-form {
  width: 100%;
    }
        .footer-top__contact {
          width: 100%;
        }
}

@media (max-width: 640px) {
  
}  