@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header

.header {
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger{
    display: none;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    transition: all .3s;
    &:hover{
      color: #fcd7b6;
      border-bottom: 1px solid #fcd7b6;
    }
  }
  &__list-link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  padding-right: 10px;
  &__link{
    position: relative;
}
  &__link + .user-nav__link{
    padding-left: 50px;
    
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fcd7b6;
    top: -8px;
    right: -8px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    text-align: center
  }
}

// slider

.top-slider{ 
  &__inner{
  background-color: $bg;
  padding: 99px 170px 44px 301px;
  }

  &__item{
    display: flex !important;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__title{
    max-width: 420px;
    @extend %rubik-500;
    color: $default;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 30px;
    padding-top: 125px;
  }
  &__text{
    max-width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 30px;
  }
  &__link{
    background-color: #a3bbc8;
    @extend %rubik-500;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    padding: 23px 101px 23px 27px;
    display: inline-block;
    cursor: pointer;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-right: 160px;
    li{
      padding: 0 11px;
      button{
        @extend %rubik-500;
        font-size: 11px;
        line-height: 8px;
        color: $default;
        background-color: #ffffff;
        opacity: 0.3;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
            &.slick-active {
              button {
                background-color: #ffffff;
                opacity: 1;
              }
            }
      }
            
    }
  }

// information
.information {
  margin-bottom: 74px;
  &__content{
  background-color: #FEF7F0;
  padding: 48px 0 46px;
  }
  &__items{
    display: flex;
    justify-content: space-evenly;
  }
  &__item{
    // width: 390px;
    padding-left: 120px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 10px;
      left: 30px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }
  }
  &__item--support::before {
       background-image: url('../images/icons/support.svg');
     }
  &__item--delivery::before {
    background-image: url('../images/icons/delivery.svg');
    top: 17px;
  }

  &__item--payment::before {
    background-image: url('../images/icons/payment.svg');
  }  

  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text {
    @extend %dmsans-400;
    line-height: 30px;
    color: #585858;
    max-width: 220px;
  }
  &__item-text--support{
    max-width: 200px;
  }
  
}


  //products
.product__filter-btn{
  margin-bottom: 80px;
  text-align: center;
  
}
.product__btn{
  background-color: transparent;
  border: none;
  color: #8b8b8b;
}
.product__items{
  display: grid;
  min-height: 802px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
  margin-bottom: 86px;
 
}
.product-item{
  max-width: 370px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  text-align: center;
  &.product-item--list{
    max-width: 100%;
  }
  &__img-box {
  position: relative;
  height: 380px;
  overflow: hidden;
  }
  &__images{
  padding-left: 17px;
  position: absolute;
  bottom: 140px;
  }
  &__link-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 180px;
    height: 50px;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(500%);
    transition: all .3s;
  }
    &__link {
    path {
      transition: all .3s;
    }
    }
    &__link:hover{
      path {
        fill: $bg;
      }
 }
 &:hover{
  .product-item__link-box{
    transform: translateY(0); 
  }
 }
 &__title{
  color: $title;
  @extend %dmsans-500;
  line-height: 40px;
  font-size: 16px;
  margin: 280px 0 17px;
 }
 &__price{
  font-weight: 700;
  color: #a3bbc8;
  margin-bottom: 38px;
 }
}

// lighting

.lighting{
  &__items{
    display: grid;
    min-height: 390px;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 100px;
    margin-top: 200px;
  }
  &__item{
    display: flex;
    background-color: #FEEFE2;
    position: relative;
  }
  &__img{
    position: absolute;
    bottom: 100px;
    left: 140px;
  }
  &__content{
    padding-top: 90px;
    padding-left: 410px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    margin-bottom: 30px;
  }
  &__item-text{
    @extend %rubik-400;
    color: $title;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__item-link{
    cursor: pointer;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    background-color: rgba(36, 63, 77, 0.0);
    border: 1px solid #436372;
    border-radius: 5px;
    padding: 16px 86px 16px 20px;
  }
  &__clock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__clock-item{
    background-color: #a3bbc8;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @extend %dmsans-700;
    font-size: 26px;
    color: #fff;
    border: 1px solid #436372;

  }
  &__smalltext{
    @extend %rubik-400;
    color: $title;
    font-size: 12px;
  }
}

// categories
.title {
  margin-bottom: 40px;
}

.categories{
  &___filter-btn {
    margin-bottom: 80px;
    text-align: center;
  }
  &__items{
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 120px;

  }
  &__item{
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
  }
  &__item-chair{
    background-position: center right 20px;
  }
  &__item-title{
    @extend %dmsans-700;
    line-height: 1.2;
    font-size: 20px;
    color: #1a1a1a;
    padding: 43px 0 0 38px;
    max-width: 210px;
    margin-bottom: 21px;
    font-weight: 700;
  }
  &__item-subtitle{
  @extend %dmsans-700;
  line-height: 1.2;
  color: #a3bbc8;
  padding-left: 38px;
  }
  .mixitup-control-active {
  border-bottom: 2px solid $bg;
  }
}

.video__popup{
  background-image: url('../images/video-fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 701px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 119px;
}

// blog

.blog{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }
  &__link{
    color: $alink;
    text-decoration: none;
    }

  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    border-radius: 5px;
  }
  &__item-imglink{
    display: block;
    img{
      height: 250px;
      object-fit: cover;
    }
  }
  &__item-box{
    padding: 30px 31px;
  }
  &__item-link{
    width: 103px;
    height: 30px;
    display: inline-block;
    text-align: center;
    transform: translateY(-45px);
    background-color: #a3bbc8;
    border-radius: 15px;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 5px;
  }

  &__item-info {
    padding-top: 22px;
    display: flex;
    justify-content: flex-start;
    @extend %myriad-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    border-top: 1px solid #e0e0e0;;
  }
  &__item-author{
    margin-left: 31px;
  }
  &__item-text{
    padding-bottom: 18px;
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1.2;
    color: $alink;
  }

  .title-blog{
    margin: 0;
  }
}  

.partners{
  padding: 98px 0 92px;
  background-color: #FEF7F0;

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


// footer

.footer-top {
  padding: 79px 0 77px;
  border-bottom: 1px solid rgba(163, 187, 200, .4); 
  display: flex;
  justify-content: space-between;
  &__item {
    line-height: 32px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__contact{
    width: 220px;
    margin-right: 110px;
  }
  &__nav {
    width: 150px;
    margin-right: 150px;
  }
  &__item-form {
    width: 295px;
  }
  &__logo {
    display: block;
    margin-bottom: 36px;
  }

  &__adress {
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__phone,
  &__email {
    margin-bottom: 20px;
  } 

  &__title {
    line-height: 3;
    font-size: 16px;
    margin-bottom: 27px;
    @extend %dmsans-700;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__text {
    line-height: 24px;
    margin-bottom: 38px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    opacity: 0.5;
    background-color: #fcd7b6;
    border: none;
    padding: 12px 14px;
    line-height: 21px;
    font-size: 14px;
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1.2;
      color: #000000;
    }
  }

  &__form-btn{
  border: none;
  background-color: #a3bbc8;
  max-width: 100px;
  width: 100%;
  @extend %dmsans-400;
  color: #fff;
  line-height: 21px;
  font-size: 14px;
  padding: 12px 14px;
  margin-left: -4px;
  }
}

.footer-bottom {
  margin: 37px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  &__list {
    display: flex;
  }
  &__list-item + .footer-bottom__list-item {
    padding-left: 32px;
  }
}


//breadcrumbs 

.top {
  background: #EDF1F4;
  padding: 34px;
  .breadcrumbs{
    display: flex;
    justify-content: center;
  &__list{
    display: flex;
  }  
  &__item {
    &:last-child{
      opacity: 1;
      color: $accent;
    }
  }
  &__link{
    @extend %rubik-400;
    opacity: 0.6;
    font-size: 14px;
    line-height: 24px;
    color: inherit;
  }
  &__link-home::after{
    content: '/';
    margin-left: 7px;
    margin-right: 7px;
  }
  }
.title__top {
  @extend %rubik-400;
  font-size: 36px;
  line-height: 24px;
  color: #222933;
  margin-bottom: 10px;
}  
}

// login
.modal{
  padding-top: 120px;
  max-width: 500px;
  margin: 0 auto 120px;
  &__label{
  margin-bottom: 30px;
  @extend %rubik-400;
  font-size: 14px;
  color: #436372;
  display: block;
  }
  &__input{
    margin-top: 15px;
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 60px;
    padding: 0 15px;
  }

  &__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    border-bottom: 2px solid #f6f6f6;
  }
  &__link{
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__link-register{
    margin-bottom: 24px;
    text-align: center;
  }

  &__btn{
    display: block;
    @extend %rubik-500;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
  }

  &__login {
    background-color: #a3bbc8;
    border: none;
    color: #fffefe;
    margin-bottom: 35px;
  }
  &__account{
    border: 2px solid #a3bbc8;
    color: $title;
}

//register
&__text {
  margin-bottom: 30px;
  @extend %rubik-400;
  font-size: 14px;
  color: #436372;
}
}


// contacts

.contacts{
  padding: 120px 0;
  &__top{
    color: #1f2044;
  }
  &__title{
    @extend %poppins-700;
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
    text-align: center;
    margin-bottom: 5px;
  }
  &__items {
    display: grid;
    min-height: 390px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
    
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    padding: 71px 45px 80px;
    text-align: center;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 119px;
  }
  &__item-email {
    border: 2px solid #a3bbc8;
  }
  &__item-title{
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-top: 65px;
    margin-bottom: 28px;
  }
  &__adress{
    padding: 0 57px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__form{
  max-width: 620px;
  }
  &__form-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__form-input{
    width: 300px;
    height: 50px;
    opacity: 0.8;
    @extend %rubik-400;
    line-height: 50px;
    color: #565872;
    background-color: #FAFAFA;
    margin-bottom: 25px;
    border: none;
    padding: 0 20px;
  }
  &__form-textarea{
    opacity: 0.8;
    @extend %rubik-400;
    color: #565872;
    background-color: #FAFAFA;
    resize: none;
    width: 620px;
    height: 175px;
    border: none;
    margin-bottom: 29px;
    padding: 20px;
  }

  &__form-input-email{
    margin-left: 16px;
  }

  &__form-btn{
  width: 200px;
  height: 50px;
  background-color: #a3bbc8;
  border-radius: 5px;
  border: none;
  @extend %poppins-700;
  font-size: 15px;
  color: #ffffff;
  }
}

.modal_div {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}


// shop catalog

.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}

.filter{
  &__item{
    padding-bottom: 50px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.2;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.filter-search{
  &__form{
    display: flex;
  }
  &__input{
    border: none;
    background-color: #EDF1F4;
    border-radius: 5px 0px 0px 5px;
    width: 220px;
    height: 43px;
    padding: 0 5px 0 15px;
  }
  &__btn{
    border: none;
    background: #a3bbc8;
    border-radius: 0px 5px 5px 0px;
    width: 50px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span{
    font-size: 14px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__btn{
  border: none;
  background-color: #a3bbc8;
  width: 100px;
  @extend %rubik-400;
  color: #fff;
  font-size: 14px;
  height: 43px;
  border-radius: 5px;
  cursor: pointer;
  }
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #a3bbc8;
  border-radius: 1px;
  opacity: 0.65;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
  border-radius: 0.4px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}  

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from, .irs-to, .irs-single{
  display: none;
  
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
} 

.filter-brand {
  &__label{
    margin-bottom: 2px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    height: 43px;
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #EDF1F4;
      border-radius: 5px;
      color: $title;
    }
  }
  &__checkbox{
    @extend %rubik-400;
    color: #b3b3b3;
    display: flex;
    justify-content: space-between;
    padding: 14px 23px 14px 15px;
    border-radius: 5px;
  }
}

.filter-category {
  &__link {
    display: flex;
    flex-direction: column;
  }
  &__btn{
    text-align: left;
    height: 43px;
    cursor: pointer;
    padding: 0 17px 0 14px;
    border: none;
    color: $title;
    @extend %rubik-400;
    background-color: #fff;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url('../images/icons/shape_catalog.svg');
      top: 14px;
      right: 17px;
      width: 9px;
      height: 13px;
    }
    &:hover{
      background-color: #EDF1F4;
      border-radius: 5px;
    }
  }
}

.filter-popular{
  &__label{
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 0;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-popular__checkbox {
        background-color: #EDF1F4;
        border-radius: 5px;
        color: $title;
        border: 1px solid #a3bbc8;
      }
  }
  &__checkbox{
    color: $title;
    border: 1px solid #a3bbc8;
    border-radius: 5px;
    padding: 8px 15px;
  }
}


.shop-content{
  width: 100%;
  &__filter{
    border: 1px solid #a3bbc8;
    border-radius: 5px;
    padding: 13px 25px 13px 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filter-buttons{
    display: flex;
    align-items: center;
    line-height: 0px;
  }
  &__filter-btn{
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
        fill: $default;
      }
    }
  }
  &__inner {
    display: grid;
    min-height: 802px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
    margin-bottom: 86px;
  }
 &__block{
  display: flex;
  margin-bottom: 40px;
 }
 &__images{
  flex: 0 1 40%;
  align-items: center;
  margin-right: 55px;
  padding: 82px 30px 82px 60px;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid #f2f2f2;
  &img{
    max-width: 100%;
  }
 }
  &__products{
    flex: 0 1 60%;
  }

  &__title{
    @extend %rubik-400;
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    margin: 36px 0 25px;
  }
  &__text{
    @extend %rubik-400;
    line-height: 30px;
    color: $default;
    max-width: 410px;
    margin-bottom: 30px;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 5px;
    @extend %rubik-400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #ffffff;
  }
  &__price{
    @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin: 30px 0;
}
}  

.pagination {
  &__item{
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .pagination__list {
    display: flex;
    padding: 0 15px;
  }

  &__link {
    @extend %rubik-400;
    color: $title;
    line-height: 30px;
    border: 1px solid #a3bbc8;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 11px 19px;
    margin-left: 15px;
  }
  &__link--active{
    background-color: #a3bbc8;
    color: #ffffff;
  }

  &__next {
    @extend %rubik-400;
    color: $title;
    // line-height: 30px;
    border: 1px solid #a3bbc8;
    width: 74px;
    height: 50px;
    
    padding: 15px 19px;
  }
}

@import 'media';